extends ../layout

block content
  .container
    h1.page-header Room Information
    
   
    table.table.table-bordered
      thead
        tr
          th 도시
          th 제목
          th 이용요금(1박기준)
          th 최대인원
          th 조회수
          
      tbody
        each book in books
          tr
            td= book.city
            td
              a(href='/books/#{book.id}')= book.title            
            td= book.price
            td= book.people
            td= book.read
            
