extends ../layout

block content
  .container
    h1.page-header= book.title
    p
      b by #{book.user}
      | 
      span at #{moment(book.createdAt).format('YYYY-MM-DD HH:mm:ss')} 
      | 
      | (조회수 #{book.read})

    이용요금(1박기준) 
    p.well(style='white-space:pre;')= book.price
    
    최대 인원
    p.well(style='white-space:pre;')= book.people

    소개
    p.well(style='white-space:pre;')= book.intro
    
    a.btn.btn-default(href='/books') 목록
