extends ../layout

block content
  .container
    h1.page-header= host.title
    p
      b by #{host.user}
      | 
      span at #{moment(host.createdAt).format('YYYY-MM-DD HH:mm:ss')} 
      | 
      | (조회수 #{host.read})

    도시 
    p.well(style='white-space:pre;')= host.city

    주소
    p.well(style='white-space:pre;')= host.address

    이용요금(1박기준) 
    p.well(style='white-space:pre;')= host.price

    편의시설
    p.well(style='white-space:pre;')= host.convenient
    
    이용규칙
    p.well(style='white-space:pre;')= host.rule

    소개
    p.well(style='white-space:pre;')= host.intro
    
    a.btn.btn-default(href='/hosts') 목록
